@charset "UTF-8";
.r_aside {
  width: 341px;
  position: fixed;
  right: -300px;
  z-index: 15;
  top: 0;
  height: 100%;
}

.r_aside > ul {
  float: left;
  width: 38px;
  height: 100%;
  background: #333;
  position: relative;
}

.r_aside > ul li {
  position: absolute;
  cursor: pointer;
}

.r_aside > ul li i {
  cursor: pointer;
  display: block;
  float: left;
  background: url(../img/sidebar_out.png) no-repeat;
}

.r_aside > ul li span {
  position: absolute;
  right: 200px;
  z-index: -1;
  top: 0;
  width: 86px;
  font-size: 14px;
  color: #333;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #DDD;
  background: #fff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.r_aside > ul .active {
  background: #d62233 !important;
  transition: all .2s linear;
}

.r_aside > ul .normal {
  background: #333 !important;
  transition: all .2s linear;
}

.r_aside > ul li:nth-of-type(1), .r_aside > ul li:nth-of-type(3), .r_aside > ul li:nth-of-type(4), .r_aside > ul li:nth-of-type(5), .r_aside > ul li:nth-of-type(6), .r_aside > ul li:nth-of-type(7) {
  top: 95px;
  width: 38px;
  height: 40px;
}

.r_aside > ul li:nth-of-type(1) i, .r_aside > ul li:nth-of-type(3) i, .r_aside > ul li:nth-of-type(4) i, .r_aside > ul li:nth-of-type(5) i, .r_aside > ul li:nth-of-type(6) i, .r_aside > ul li:nth-of-type(7) i {
  width: 38px;
  height: 40px;
  background-position: 0px 0px;
}

.r_aside > ul li:nth-of-type(3) {
  top: 336px;
}

.r_aside > ul li:nth-of-type(3) i {
  background-position: 0px -40px;
}

.r_aside > ul li:nth-of-type(4) {
  top: 380px;
}

.r_aside > ul li:nth-of-type(4) i {
  background-position: 0px -80px;
}

.r_aside > ul li:nth-of-type(5) {
  top: 532px;
}

.r_aside > ul li:nth-of-type(5) i {
  background-position: 0px -200px;
}

.r_aside > ul li:nth-of-type(5) strong {
  display: block;
  position: absolute;
  right: 31px;
  width: 30px;
  height: 50px;
  z-index: 10;
}

.r_aside > ul li:nth-of-type(5) span {
  position: absolute;
  width: 150px;
  height: 150px;
}

.r_aside > ul li:nth-of-type(5) span img:nth-of-type(1) {
  display: inline-block;
  width: 100px;
  height: 100px;
  font-size: 0;
}

.r_aside > ul li:nth-of-type(5) span u {
  display: block;
  text-align: center;
  text-decoration: none;
}

.r_aside > ul li:nth-of-type(5) span img:nth-of-type(2) {
  position: absolute;
  top: -44px;
  right: 0;
}

.r_aside > ul li:nth-of-type(6) {
  top: 580px;
}

.r_aside > ul li:nth-of-type(6) i {
  background-position: 0px -240px;
}

.r_aside > ul li:nth-of-type(7) {
  top: 630px;
}

.r_aside > ul li:nth-of-type(7) i {
  background-position: 0px -280px;
}

.r_aside > ul li:nth-of-type(2) {
  top: 140px;
  width: 43px;
  height: 176px;
  right: 0;
  background: #333;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.r_aside > ul li:nth-of-type(2) b {
  position: absolute;
  bottom: -5px;
  display: block;
  width: 43px;
  height: 5px;
  background: url(../img/cartbar-bk.png) left center no-repeat;
}

.r_aside > ul li:nth-of-type(2) i {
  width: 24px;
  height: 18px;
  margin-left: 8px;
  margin-top: 24px;
  background: url(../img/sidebar_out.png) no-repeat;
  background-position: 2px -365px;
}

.r_aside > ul li:nth-of-type(2) p {
  float: left;
  margin-left: 14px;
  margin-top: 26px;
  width: 20px;
  font-size: 14px;
  color: #fff;
}

.r_aside > ul li:nth-of-type(2) em {
  float: left;
  width: 20px;
  display: none;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: #fff;
  background: red;
  margin-left: 10px;
  margin-top: 16px;
}

.r_aside > ol {
  width: 302px;
  float: left;
  height: 100%;
  background: #f2f2f2;
}

.r_aside > ol li:nth-of-type(1) {
  height: 100%;
  background: #fff;
}

.r_aside {
  background: #fff;
}

.r_aside ol li {
  background: #fff;
}

.r_aside ol li:nth-of-type(1) h5 {
  width: 100%;
  height: 42px;
  cursor: pointer;
  margin-bottom: 58px;
  background: #fff;
}

.r_aside ol li:nth-of-type(1) h5 i {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  background: url(../img/sidebar_in.png) no-repeat;
  background-position: 0px -44px;
}

.r_aside ol li:nth-of-type(1) h5:hover i {
  margin-left: 22px;
}

.r_aside ol li:nth-of-type(1) h6 {
  font-size: 16px;
  line-height: 1em;
  margin: 0 18px;
  width: 240px;
  position: relative;
  margin-bottom: 10px;
}

.r_aside ol li:nth-of-type(1) h6 a {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 12px;
}

.r_aside ol li:nth-of-type(1) > div {
  margin: 0 18px;
}

.r_aside ol li:nth-of-type(1) div:nth-of-type(1) {
  width: 208px;
  height: 28px;
  line-height: 28px;
  padding-left: 30px;
  border: 1px solid #ffba22;
  background: #fffdeb url(../img/error0001.png) 6px center no-repeat;
}

.r_aside ol li:nth-of-type(1) div:nth-of-type(2), .r_aside ol li:nth-of-type(1) div:nth-of-type(3) {
  width: 236px;
  height: 28px;
  line-height: 28px;
  margin-top: 6px;
}

.r_aside ol li:nth-of-type(1) div:nth-of-type(2) input, .r_aside ol li:nth-of-type(1) div:nth-of-type(3) input {
  width: 226px;
  height: 28px;
  border: 2px solid #f77799;
  box-shadow: 0 0 3px #f77799;
  padding-left: 10px;
}

.r_aside ol li:nth-of-type(1) div:nth-of-type(3) {
  margin-top: 10px;
}

.r_aside ol li:nth-of-type(1) div:nth-of-type(4) {
  width: 236px;
  line-height: 28px;
  margin-top: 6px;
  height: 42px;
  line-height: 42px;
}

.r_aside ol li:nth-of-type(1) div:nth-of-type(4) a {
  display: block;
  color: #666666;
  text-align: right;
}

.r_aside ol li:nth-of-type(1) div:nth-of-type(5) {
  width: 236px;
  height: 36px;
  line-height: 36px;
}

.r_aside ol li:nth-of-type(1) div:nth-of-type(5) input {
  cursor: pointer;
  width: 236px;
  height: 36px;
  background: #e6133c;
  color: #fff;
}

.r_aside ol li:nth-of-type(2) .shop_list {
  height: 55px;
  background: #fff;
  padding: 10px 5px 10px 10px;
  position: relative;
}

.r_aside ol li:nth-of-type(2) .shop_list:hover {
  background: #f2f2f2;
}

.r_aside ol li:nth-of-type(2) .shop_list .car_l {
  float: left;
  width: 48px;
  height: 48px;
  border: 1px solid #cccccc;
  font-size: 0;
  text-align: center;
  line-height: 48px;
  background: #fff;
}

.r_aside ol li:nth-of-type(2) .shop_list .car_l img {
  display: inline-block;
  width: 40px;
  height: 30px;
  vertical-align: middle;
}

.r_aside ol li:nth-of-type(2) .shop_list .car_c {
  float: left;
  width: 202px;
  margin-left: 12px;
  line-height: 16px;
  color: #666666;
}

.r_aside ol li:nth-of-type(2) .shop_list .car_c .sub_btn {
  display: none;
  cursor: pointer;
  width: 100%;
  height: 16px;
  margin-top: 4px;
  position: relative;
}

.r_aside ol li:nth-of-type(2) .shop_list .car_c .sub_btn div:nth-of-type(1) {
  float: left;
}

.r_aside ol li:nth-of-type(2) .shop_list .car_c .sub_btn div:nth-of-type(1) i {
  float: left;
  width: 16px;
  height: 16px;
  background: url(../img/sidebar_in.png) no-repeat;
  background-position: -16px -60px;
}

.r_aside ol li:nth-of-type(2) .shop_list .car_c .sub_btn div:nth-of-type(1) i:nth-of-type(2) {
  background-position: 0px -60px;
}

.r_aside ol li:nth-of-type(2) .shop_list .car_c .sub_btn div:nth-of-type(1) span {
  float: left;
  margin: 0 10px;
}

.r_aside ol li:nth-of-type(2) .shop_list .car_c .sub_btn div:nth-of-type(2) {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: 0;
  background: url(../img/sidebar_in.png) no-repeat;
  background-position: 0px -92px;
}

.r_aside ol li:nth-of-type(2) .shop_list .car_r {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #db0000;
  font-size: 16px;
}

.r_aside ol li:nth-of-type(2) .shop_list:hover .p_and_num {
  display: none;
}

.r_aside ol li:nth-of-type(2) .shop_list:hover .sub_btn {
  display: block;
}

.r_aside ol li:nth-of-type(2) h5 {
  width: 100%;
  height: 42px;
  cursor: pointer;
  position: relative;
}

.r_aside ol li:nth-of-type(2) h5 i {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  background: url(../img/sidebar_in.png) no-repeat;
  background-position: 0px -44px;
}

.r_aside ol li:nth-of-type(2) h5 em {
  width: 24px;
  position: absolute;
  right: 10px;
  top: 4px;
  height: 24px;
  display: block;
  background: url(../img/sidebar_in.png) no-repeat;
  background-position: 0px -10px;
}

.r_aside ol li:nth-of-type(2) h5 em:hover {
  background-position: -25px -10px;
}

.r_aside ol li:nth-of-type(2) h5 i:hover {
  margin-left: 22px;
}

.shop_btn {
  padding: 0 22px;
  height: 92px;
  background: #f2f2f2;
}

.shop_btn p {
  height: 36px;
  line-height: 36px;
}

.shop_btn p i, .shop_btn p span {
  color: #d62233;
}

.shop_btn div > input {
  cursor: pointer;
  width: 260px;
  height: 40px;
  background: #d62233;
  color: #fff;
  text-align: center;
  line-height: 40px;
}

.r_aside {
  position: fixed;
}

.r_aside ol li {
  position: absolute;
  left: 38px;
  top: 0;
}

body {
  font-family: "微软雅黑";
  font-size: 12px;
  color: #666666;
}

.container {
  width: 1192px;
  margin: 0 auto;
}

.top {
  height: 32px;
  background: #f7f7f7;
}

.header {
  width: 100%;
}

.search {
  height: 96px;
  width: 100%;
}

.nav {
  height: 37px;
}

.top ul {
  float: left;
  height: 22px;
}

.top ul li {
  float: left;
  line-height: 1em;
}

.top ol {
  float: right;
}

.top ol li {
  margin-top: 10px;
  float: left;
  line-height: 1em;
}

.top ul li:nth-of-type(1) {
  padding-left: 18px;
  padding-right: 12px;
  margin-top: 10px;
  border-right: 1px solid #e5e5e5;
  background: url(../img/sl.jpg) left center no-repeat;
}

.top ul li:nth-of-type(2) {
  padding-top: 10px;
  padding-right: 24px;
  padding-left: 12px;
}

.top ul li:nth-of-type(3) {
  margin-top: 10px;
  padding-left: 12px;
  border-left: 1px solid #e5e5e5;
}

.top ol {
  height: 22px;
}

.top ol li {
  line-height: 1em;
  padding-left: 10px;
  padding-right: 24px;
  border-right: 1px solid #e5e5e5;
  background: url(../img/arr.jpg) 64px 4px no-repeat;
}

.top ol li:nth-of-type(1) {
  border: none;
  padding-right: 20px;
  padding-left: 26px;
  background: url(../img/t.jpg) 7px 0px no-repeat;
  background-size: 12px 12px;
}

.top ol li:nth-of-type(1):hover {
  margin-top: 0;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  background-position: 7px center;
  cursor: pointer;
}

.top ol li:nth-of-type(1) a:nth-of-type(1) {
  margin-right: 10px;
}

.top ol li:nth-of-type(1) a:hover {
  color: red;
}

.top ol li:last-of-type {
  background: none;
  padding-right: 10px;
}

.top ol li:nth-of-type(2):hover {
  margin-top: 0;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  background-position: 64px center;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: red;
}

.top ol li:nth-of-type(3):hover {
  margin-top: 0;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  background-position: 64px center;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: red;
}

.top ol li:nth-of-type(4):hover {
  margin-top: 0;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  background-position: 64px center;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: red;
}

.top ol li:nth-of-type(5):hover {
  margin-top: 0;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  background-position: 64px center;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: red;
}

.top ol li:nth-of-type(6):hover {
  margin-top: 0;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  background-position: 64px center;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: red;
}

.top ol li:nth-of-type(7):hover {
  margin-top: 0;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  background-position: 64px center;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: red;
}

/*头部样式hover*/
.top ol li:nth-of-type(2) {
  position: relative;
}

.top ol li:nth-of-type(2) > div {
  z-index: 12;
  display: none;
  position: absolute;
  left: 0;
  top: 22px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
}

.top ol li:nth-of-type(2) > div a {
  line-height: 1em;
  display: block;
  padding: 10px;
  color: #666666;
}

.top ol li:nth-of-type(2):hover > div {
  display: block;
  top: 32px;
}

.top ol li:nth-of-type(2):hover > div a {
  line-height: 1em;
  display: block;
  padding: 10px;
  color: #666666;
}

.top ol li:nth-of-type(4) {
  position: relative;
}

.top ol li:nth-of-type(4) > div {
  z-index: 14;
  background: #fff;
  display: none;
  position: absolute;
  width: 660px;
  top: 22px;
  margin-left: -400px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
}

.top ol li:nth-of-type(4) > div > dl {
  float: left;
  border-right: 1px dashed #666666;
}

.top ol li:nth-of-type(4) > div > dl dt {
  padding-left: 12px;
  font-size: 14px;
  color: #000;
  height: 30px;
  line-height: 26px;
}

.top ol li:nth-of-type(4) > div > dl dd {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  line-height: 24px;
}

.top ol li:nth-of-type(4) > div > dl dd:hover {
  color: red;
}

.top ol li:nth-of-type(4):hover > div {
  display: block;
  top: 32px;
  color: #666666;
}

.top ol li:nth-of-type(5) {
  position: relative;
}

.top ol li:nth-of-type(5) > div {
  z-index: 14;
  background: #fff;
  display: none;
  position: absolute;
  left: 0;
  top: 22px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
}

.top ol li:nth-of-type(5) > div a {
  line-height: 1em;
  display: block;
  padding: 10px;
  color: #666666;
}

.top ol li:nth-of-type(5):hover > div {
  display: block;
  top: 32px;
}

.top ol li:nth-of-type(5):hover > div a {
  line-height: 1em;
  display: block;
  padding: 10px;
  color: #666666;
}

.top ol li:nth-of-type(6) {
  position: relative;
}

.top ol li:nth-of-type(6) > div {
  z-index: 14;
  background: #fff;
  display: none;
  position: absolute;
  width: 300px;
  top: 22px;
  left: 50%;
  margin-left: -200px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
}

.top ol li:nth-of-type(6) > div > dl {
  float: left;
  margin-right: 60px;
}

.top ol li:nth-of-type(6) > div > dl dt {
  padding-left: 12px;
  font-size: 14px;
  color: #000;
  line-height: 26px;
}

.top ol li:nth-of-type(6) > div > dl dt img {
  width: 100px;
  height: 100px;
}

.top ol li:nth-of-type(6) > div > dl dd {
  padding-left: 12px;
  width: 94px;
  line-height: 24px;
}

.top ol li:nth-of-type(6) > div > dl dd:hover {
  color: red;
}

.top ol li:nth-of-type(6) > div > dl dd p:nth-of-type(1) {
  color: red;
  font-size: 14px;
  text-align: center;
}

.top ol li:nth-of-type(6) > div > dl dd p:nth-of-type(2) {
  color: red;
  font-size: 12px;
  text-align: center;
}

.top ol li:nth-of-type(6) > div dl:nth-of-type(2) {
  margin-right: 0;
}

.top ol li:nth-of-type(6):hover > div {
  display: block;
  top: 32px;
  color: #666666;
}

.search h1 {
  height: 100%;
  float: left;
}

.search h1 a {
  float: left;
  height: 96px;
  line-height: 96px;
  font-size: 0;
}

.search h1 span {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.search h1 img {
  display: inline-block;
  vertical-align: middle;
}

.search h1 a:nth-of-type(1) {
  margin-right: 68px;
}

.search h1 a:nth-of-type(2) {
  margin-right: 46px;
}

.search_box {
  float: left;
}

.search_box_top {
  width: 513px;
  height: 35px;
  margin-top: 25px;
}

.search_box_top input[type=text] {
  float: left;
  width: 412px;
  height: 28px;
  border: 2px solid #ff3d3d;
  padding-left: 10px;
}

.search_box_top > input[type=button] {
  float: left;
  width: 84px;
  height: 32px;
  background: #ff3d3d;
  color: #fff;
  cursor: pointer;
}

.search_box_bottom {
  padding-top: 7px;
  height: 13px;
}

.search_box_bottom li {
  line-height: 1em;
  float: left;
  font-size: 12px;
  color: #999999;
  padding: 0px 11px 0 6px;
  border-right: 1px solid #999;
  cursor: pointer;
}

.search_box_bottom li a {
  display: block;
  line-height: 1em;
  font-size: 12px;
  color: #999999;
}

.OK_area {
  float: left;
  width: 121px;
  display: none;
  height: 33px;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  margin-top: 24px;
  margin-left: 54px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}

.OK_area i {
  color: #c01133;
}

.OK_area:hover {
  border: 1px solid #c01133;
  color: #c01133;
}

.web_nav {
  position: relative;
}

.web_nav p {
  display: none;
}

.web_nav:hover {
  cursor: pointer;
  background: #fff;
  height: 20px;
}

.web_nav:hover p {
  position: absolute;
  left: 0px;
  top: 30px;
  display: block;
  background: #fff;
  width: 150px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
}

.web_nav:hover p a {
  float: left;
  padding: 12px 12px;
}

.web_nav p:hover {
  display: block;
}

.top ul li:nth-of-type(2):hover {
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
}

.nav {
  border-bottom: 2px solid #151515;
  background: #333333;
}

.nav .nav_li {
  position: relative;
  float: left;
  height: 37px;
  line-height: 35px;
  cursor: pointer;
  padding: 0 18px;
  font-size: 14px;
}

.nav .nav_li > a {
  width: 100%;
  display: block;
  height: 37px;
  line-height: 37px;
  color: #fff;
  font-weight: bold;
}

.nav .nav_li > a:hover {
  color: #ed595c;
}

.nav .nav_li:hover > .aside {
  display: block;
}

.nav .nav_li:hover {
  background: #9d1f20;
}

.nav .nav_li:hover > a {
  color: #fff;
}

.nav .nav_li:nth-of-type(1) {
  width: 190px;
  background: #151515;
  padding: 0;
}

.nav .nav_li:nth-of-type(1) h2 {
  margin-top: 12px;
  padding-left: 52px;
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  background: url(../img/nav1200_sprite.png) no-repeat;
  background-position: 20px -101px;
  color: #fff;
}

.tip li:hover {
  background: #f56767;
  color: #fff;
}

.nav .nav_li:nth-of-type(1) {
  position: relative;
}

.aside {
  position: absolute;
  display: none;
  left: 0;
  top: 36px;
  width: 100%;
  height: 410px;
  z-index: 11;
  padding: 11px 0 9px;
  background: #151515;
  opacity: 0.9;
}

.aside li {
  height: 29px;
  line-height: 29px;
  padding-left: 16px;
}

.aside li i {
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 6px;
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 0;
}

.aside li a {
  float: left;
  margin-left: 10px;
  height: 29px;
  line-height: 28px;
  color: #fff;
}

.aside li:hover {
  background: #888;
}

.aside li:nth-of-type(1) i {
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 0;
}

.aside li:nth-of-type(2) i {
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 -32px;
}

.aside li:nth-of-type(3) i {
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 -60px;
}

.aside li:nth-of-type(4) i {
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 -90px;
}

.aside li:nth-of-type(5) i {
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 -120px;
}

.aside li:nth-of-type(6) i {
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 -150px;
}

.aside li:nth-of-type(7) i {
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 -180px;
}

.aside li:nth-of-type(8) i {
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 -210px;
}

.aside li:nth-of-type(9) i {
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 -240px;
}

.aside li:nth-of-type(10) i {
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 -270px;
}

.aside li:nth-of-type(11) i {
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 -300px;
}

.aside li:nth-of-type(12) i {
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 -330px;
}

.aside li:nth-of-type(13) i {
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 -360px;
}

.aside li:nth-of-type(14) i {
  background: url(../img/nav-v3-icon-1.png) no-repeat;
  background-position: 0 -390px;
}

.aside_shop {
  display: none;
  position: absolute;
  z-index: 11;
  left: 190px;
  width: 990px;
  height: 410px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #dfdfdf;
  top: 38px;
  padding: 8px 9px 12px 0px;
  background: #fff;
}

.aside_shop > li {
  padding-left: 26px;
  display: none;
}

.aside_shop > li .dl_area {
  float: left;
}

.aside_shop > li dl {
  width: 700px;
  padding-top: 14px;
  margin-right: 22px;
}

.aside_shop > li dl dt {
  float: left;
  line-height: 1em;
  width: 84px;
  color: #000;
}

.aside_shop > li dl dd {
  width: 564px;
  padding-right: 50px;
  float: right;
  border-bottom: 1px #f3f3f3 dashed;
  font-size: 0;
}

.aside_shop > li dl dd a {
  font-size: 12px;
  float: left;
  line-height: 1em;
  margin-bottom: 12px;
  margin-right: 16px;
  color: #666666;
}

.aside_shop > li dl dd a:hover {
  color: red;
  text-decoration: underline;
}

.aside_shop > li .shop_img {
  float: left;
  width: 240px;
  height: 410px;
}

.aside_shop > li .shop_img li {
  font-size: 0;
}

.aside_shop > li .shop_img li a {
  display: block;
  width: 240px;
  height: 202px;
}

.aside_shop > li .shop_img li a img {
  width: 100%;
  height: 100%;
}

.aside_shop > li .shop_img li:nth-of-type(2) a {
  margin-top: 5px;
}

.aside_shop .active {
  display: block;
}

.footer {
  height: 388px;
  background: #f3f3f3;
}

.footer {
  background: #f3f3f3;
  height: 386px;
}

.top_dl {
  height: 238px;
}

.top_dl dl {
  float: left;
  width: 218px;
  height: 238px;
}

.top_dl dl:nth-of-type(2) dt {
  background-position: 56px -40px;
}

.top_dl dl:nth-of-type(3) dt {
  background-position: 56px -80px;
}

.top_dl dl:nth-of-type(4) dt {
  background-position: 56px -120px;
}

.top_dl dl:nth-of-type(5) dt {
  background-position: 56px -160px;
}

.top_dl dl dt {
  height: 40px;
  padding-left: 110px;
  font-size: 14px;
  margin-top: 24px;
  line-height: 44px;
  background: url(../img/footer1200_sprite.png) no-repeat;
  background-position: 56px 0px;
}

.top_dl dl dt a {
  color: #000;
}

.top_dl dl dt a:hover {
  color: red;
  text-decoration: underline;
}

.top_dl dl dd {
  padding-left: 110px;
}

.top_dl dl dd a {
  display: block;
  line-height: 1em;
  line-height: 26px;
  color: #555;
}

.top_dl dl dd a:hover {
  color: red;
  text-decoration: underline;
}

.bottom_box {
  text-align: center;
}

.bottom_box div:nth-of-type(1) {
  font-size: 0;
  margin-bottom: 10px;
}

.bottom_box div:nth-of-type(1) a {
  font-size: 12px;
  color: #333333;
}

.bottom_box div:nth-of-type(1) span {
  font-size: 12px;
  margin: 0 14px;
}

.bottom_box div:nth-of-type(2) {
  font-size: 0;
  margin-bottom: 10px;
}

.bottom_box div:nth-of-type(2) i {
  font-size: 12px;
  color: #999999;
}

.bottom_box div:nth-of-type(2) span {
  font-size: 12px;
  margin: 0 14px;
}

.bottom_box div:nth-of-type(3), .bottom_box div:nth-of-type(4) {
  font-size: 0;
  margin-bottom: 10px;
}

.bottom_box div:nth-of-type(3) a, .bottom_box div:nth-of-type(4) a {
  font-size: 12px;
  color: #666666;
}

.bottom_box div:nth-of-type(3) span, .bottom_box div:nth-of-type(4) span {
  font-size: 12px;
  margin: 0 14px;
}

.bottom_box div:last-of-type {
  font-size: 0;
  margin-bottom: 10px;
}

.bottom_box div:last-of-type a {
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  padding-left: 32px;
}

.bottom_box div:last-of-type a:nth-of-type(1) {
  background: url(../img/gongan.png) left center no-repeat;
}

.bottom_box div:last-of-type a:nth-of-type(2) {
  background: url(../img/wangjing.png) left center no-repeat;
}

.bottom_box div:last-of-type a:nth-of-type(3) {
  background: url(../img/zhizhao.png) left center no-repeat;
}

.ad img {
  width: 100%;
}

.screening {
  margin-bottom: 20px;
}

.list .btns {
  height: 36px;
  margin-bottom: 20px;
}

.list .btns .l_btns {
  float: left;
  height: 36px;
  line-height: 36px;
  color: #999999;
  margin-right: 10px;
}

.list .btns .l_btns li {
  float: left;
  cursor: pointer;
  margin-left: -1px;
}

.list .btns .l_btns li a {
  width: 68px;
  display: block;
  text-align: center;
  height: 36px;
  line-height: 36px;
  border: 1px solid #999999;
  background: #f8f8f8;
}

.list .btns .l_btns li:hover a {
  margin-left: 0px;
  color: #c01133;
  border: 1px solid #c01133;
}

.list .btns .l_btns li:nth-of-type(1) a {
  width: 80px;
}

.list .btns .l_btns li:nth-of-type(3) a {
  background: #c01133;
  color: #fff;
}

.list .btns .l_btns li:nth-of-type(5) a {
  width: 52px;
}

.list .btns .active {
  background: #c01133;
  color: #fff;
}

.list .btns .c_btns {
  width: 154px;
  height: 26px;
  background: #f8f8f8;
  border: 1px solid #999999;
  float: left;
  padding: 4px;
  font-size: 0;
}

.list .btns .c_btns input {
  font-size: 14px;
  padding-left: 6px;
  float: left;
  width: 54px;
  height: 24px;
  border: 1px solid #999999;
}

.list .btns .c_btns input:nth-of-type(1) {
  margin-right: 16px;
  margin-left: 4px;
}

.list .btns .r_btns {
  float: left;
  margin-left: 12px;
  width: 660px;
  height: 34px;
  line-height: 34px;
  background: #f8f8f8;
  border: 1px solid #eeeeee;
}

.list .btns .r_btns div {
  float: left;
  margin-right: 26px;
}

.list .btns .r_btns div input {
  display: block;
  float: left;
  margin-top: 10px;
  margin-right: 4px;
}

.list .btns .r_btns div:nth-of-type(1) {
  margin-left: 10px;
}

.list .btns .r_btns .next_btn {
  cursor: pointer;
  float: right;
  width: 24px;
  margin-top: 4px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #eeeeee;
  border: 1px solid #cccccc;
}

.list .container {
  width: 1192px;
  overflow: hidden;
}

.shop_c {
  width: 1210px;
}

.shop_c dl {
  cursor: pointer;
  background: #fff;
  float: left;
  width: 228px;
  height: 388px;
  border: 1px solid #eeeeee;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}

.shop_c dl .text_flag {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 226px;
  left: 12px;
  height: 20px;
}

.shop_c dl .text_flag span {
  cursor: pointer;
  display: block;
  float: left;
  width: 50px;
  height: 20px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  line-height: 20px;
  text-align: center;
  margin-right: 10px;
  font-size: 12px;
  border: 1px solid #949494;
  color: #949494;
}

.shop_c dl .text_flag span:hover {
  border: 1px solid #e6133c;
  color: #e6133c;
}

.shop_c dl .shangou {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 2;
}

.shop_c dl dt {
  height: 230px;
  line-height: 230px;
}

.shop_c dl dt a {
  display: block;
  width: 228px;
  height: 230px;
  text-align: center;
  line-height: 230px;
  font-size: 0;
}

.shop_c dl dt a img {
  display: inline-block;
  vertical-align: middle;
}

.shop_c dl dd {
  padding: 0 12px;
}

.shop_c dl dd p a {
  display: block;
  line-height: 1em;
}

.shop_c dl dd p:nth-of-type(1) {
  margin-bottom: 10px;
}

.shop_c dl dd p:nth-of-type(1) a {
  color: #e6133c;
  font-size: 16px;
}

.shop_c dl dd p:nth-of-type(2) a {
  margin-bottom: 8px;
  width: 198px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.shop_c dl dd p:nth-of-type(2) a:hover {
  text-decoration: underline;
}

.shop_c dl dd p:nth-of-type(3) a {
  color: #ff875a;
  margin-bottom: 8px;
}

.shop_c dl dd p:nth-of-type(3) a:hover {
  text-decoration: underline;
}

.shop_c dl dd p:nth-of-type(4) a {
  color: #999999;
  padding-left: 20px;
  background: url(../img/list-top-icon.png) left center no-repeat;
  margin-bottom: 8px;
}

.shop_c dl dd p:nth-of-type(4) a span {
  color: #666666;
  margin: 0 8px;
}

.shop_c dl dd p:nth-of-type(5) a {
  color: #999999;
  margin-bottom: 8px;
}

.shop_c dl dd div input {
  transition: all .2s linear;
  width: 200px;
  height: 34px;
  border: 1px solid #e6133c;
  border-radius: 8px;
  background: #fff;
  color: #e6133c;
  cursor: pointer;
}

.page_num {
  height: 26px;
  text-align: center;
  font-size: 0;
  margin-top: 70px;
  margin-bottom: 20px;
}

.page_num a {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-right: 4px;
  height: 24px;
  padding: 0 8px;
  border: 1px solid #cccccc;
  line-height: 24px;
  text-align: center;
  background: #eeeeee;
}

.page_num .active {
  background: #e6133c;
  color: #fff;
}

.nav_text {
  height: 60px;
  border-bottom: 2px #987144 solid;
}

.nav_text li {
  float: left;
  margin-top: 22px;
}

.nav_text li a {
  color: #333333;
}

.nav_text li a:hover {
  text-decoration: underline;
}

.nav_text > span {
  float: left;
  line-height: 20px;
  padding-top: 22px;
  margin: 0 10px;
}

.nav_text li:nth-of-type(1), .nav_text li:nth-of-type(2) {
  line-height: 20px;
}

.nav_text li:nth-of-type(3), .nav_text li:nth-of-type(4) {
  position: relative;
}

.nav_text li:nth-of-type(3) > span, .nav_text li:nth-of-type(4) > span {
  display: block;
}

.nav_text li:nth-of-type(3) > span a, .nav_text li:nth-of-type(4) > span a {
  display: block;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  padding-right: 20px;
  border: 1px dashed #dddddd;
  text-align: center;
  position: relative;
}

.nav_text li:nth-of-type(3) > span a i, .nav_text li:nth-of-type(4) > span a i {
  position: absolute;
  display: block;
  top: 10px;
  right: 6px;
  width: 7px;
  height: 4px;
  background: url(../img/showrighticon.png) no-repeat;
  background-position: 0px 0px;
}

.nav_text li:nth-of-type(3) > span a:hover i, .nav_text li:nth-of-type(4) > span a:hover i {
  background-position: 0px -26px;
}

.nav_text li:nth-of-type(3):hover > dl, .nav_text li:nth-of-type(4):hover > dl {
  display: block;
}

.nav_text li:nth-of-type(3) dl, .nav_text li:nth-of-type(4) dl {
  display: none;
  position: absolute;
  width: 140px;
  z-index: 12;
  left: 0px;
  top: 28px;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.8);
}

.nav_text li:nth-of-type(3) dl dt a, .nav_text li:nth-of-type(4) dl dt a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding-left: 14px;
}

.nav_text li:nth-of-type(3) dl dd a, .nav_text li:nth-of-type(4) dl dd a {
  color: #fff;
  line-height: 20px;
  padding-left: 14px;
}

.nav_text li:nth-of-type(5) input {
  width: 158px;
  height: 26px;
  border: 1px solid #dddddd;
  padding-left: 4px;
  background: url(../img/select-button.png) right center no-repeat;
}

.nav_text_box {
  position: relative;
}

.nav_text_box .n_t_r_text {
  position: absolute;
  right: 10px;
  top: 26px;
}

.nav_text_box .n_t_r_text a {
  color: #666666;
}

.nav_text_box .n_t_r_text a span {
  font-weight: bold;
}

.nav_text_box .n_t_r_text a:hover {
  text-decoration: underline;
}

.s_content .pin_nor li:nth-of-type(2) a {
  background: url(../img/MI.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin_nor li:nth-of-type(3) a {
  background: url(../img/SAMSUNG.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin_nor li:nth-of-type(4) a {
  background: url(../img/OPPO.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin_nor li:nth-of-type(5) a {
  background: url(../img/vivo.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin_nor li:nth-of-type(6) a {
  background: url(../img/meitu.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin_nor li:nth-of-type(7) a {
  background: url(../img/smartisan.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin_nor li:nth-of-type(8) a {
  background: url(../img/heisha.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content dl:nth-of-type(1) {
  background: #f8f8f8;
  position: relative;
}

.s_content dl:nth-of-type(1) .se_btn {
  position: absolute;
  width: 56px;
  height: 22px;
  background: #eeeeee;
  color: #666666;
  right: 0;
  top: 6px;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
}

.s_content dl:nth-of-type(1) .se_btn:hover {
  background: #fef9ee;
}

.s_content dl:nth-of-type(1) dt {
  float: left;
  height: 100%;
  width: 130px;
  text-align: right;
}

.s_content dl:nth-of-type(1) dt span {
  display: block;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.s_content dl:nth-of-type(1) dd {
  float: left;
  width: 1062px;
  background: #fff;
  padding-bottom: 10px;
}

.s_content dl:nth-of-type(1) dd ul {
  width: 920px;
  padding-left: 20px;
  padding-top: 10px;
}

.s_content dl:nth-of-type(1) dd ul li {
  float: left;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.s_content dl:nth-of-type(1) dd ul li a {
  display: block;
  width: 98px;
  height: 50px;
  border: 1px solid #f8f8f8;
  padding: 0 4px;
  margin-right: 4px;
  background: url(../img/HUAWEI.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content dl:nth-of-type(1) dd ul li i {
  position: absolute;
  display: none;
  text-align: center;
  line-height: 52px;
  width: 108px;
}

.s_content dl:nth-of-type(1) dd ul li:hover a {
  width: 96px;
  height: 48px;
  background: #fef9ee;
  border: 2px solid #d5af82;
}

.s_content dl:nth-of-type(1) dd ul li:hover i {
  display: block;
}

.s_content dl:nth-of-type(1) dd ul .pin_nor_active {
  position: relative;
}

.s_content dl:nth-of-type(1) dd ul .pin_nor_active a {
  width: 96px;
  height: 48px;
  background: #fef9ee;
  border: 2px solid #ddd;
  background: #fff;
}

.s_content dl:nth-of-type(1) dd ul .pin_nor_active i {
  display: block;
  color: #999;
}

.s_content dl:nth-of-type(1) dd ul .pin_nor_active:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  right: 6px;
  bottom: 2px;
  height: 12px;
  background: url(../img/cha-1.png) right bottom no-repeat;
}

.s_content dl:nth-of-type(1) dd ul .pin_nor_active:hover:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  right: 6px;
  bottom: 2px;
  height: 12px;
  background: url(../img/cha-2.png) right bottom no-repeat;
}

.s_content dl:nth-of-type(1) dd:nth-of-type(2) {
  display: none;
}

.s_content dl {
  border-bottom: 1px solid #dddddd;
  background: #f8f8f8;
  position: relative;
}

.s_content dl .se_btn {
  position: absolute;
  width: 56px;
  height: 22px;
  background: #eeeeee;
  color: #666666;
  right: 0;
  top: 6px;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
}

.s_content dl .se_btn:hover {
  background: #fef9ee;
  color: #987144;
}

.s_content dl dt {
  float: left;
  height: 100%;
  width: 130px;
  text-align: right;
}

.s_content dl dt span {
  display: block;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.s_content dl dd {
  display: block;
  float: left;
  width: 1062px;
  background: #fff;
  padding-bottom: 10px;
}

.s_content dl dd ul {
  width: 920px;
  padding-left: 20px;
  padding-top: 10px;
}

.s_content dl dd ul li a {
  display: block;
  float: left;
  margin-right: 28px;
  color: #333333;
  width: 78px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.s_content dl dd ul li a:hover {
  color: #513e3e;
  text-decoration: underline;
}

.s_content .duo {
  display: none;
}

.s_content .duo li {
  float: left;
}

.s_content .duo li label {
  float: left;
  margin-right: 24px;
}

.s_content .duo li label input {
  float: left;
  margin-top: 2px;
}

.s_content .duo li label span {
  float: left;
}

.s_content .duo .d_btns {
  text-align: center;
  font-size: 0;
  margin-top: 10px;
}

.s_content .duo .d_btns input:nth-of-type(1) {
  color: #999;
  background: #eee;
}

.s_content .duo .d_btns input {
  transition: all .2s linear;
  cursor: pointer;
  margin-right: 10px;
  font-size: 12px;
  width: 48px;
  height: 26px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 26px;
  background: #fff;
  color: #333;
}

.s_content .pin {
  float: left;
}

.s_content .pin .pin_btns {
  margin-left: 20px;
  height: 38px;
  width: 950px;
  border-bottom: 1px solid  #ebebeb;
  margin-bottom: 8px;
}

.s_content .pin .pin_btns li {
  float: left;
  padding-top: 16px;
  margin-right: 12px;
}

.s_content .pin .pin_btns li a {
  display: block;
  line-height: 1em;
  color: #333;
  padding-bottom: 6px;
}

.s_content .pin .pin_btns li a:hover {
  border-bottom: 2px solid #987144;
  padding-bottom: 8px;
}

.s_content .pin .pin_btns li:hover a {
  color: #987144;
}

.s_content .pin .pin_btns .active a {
  color: #987144;
  border-bottom: 2px solid #987144;
  padding-bottom: 8px;
}

.s_content .pin .pin_imgs li {
  float: left;
  display: none;
  margin-left: 20px;
}

.s_content .pin .pin_imgs li a {
  float: left;
  display: block;
  position: relative;
  border: 1px solid #eeeeee;
  margin-right: 10px;
  width: 108px;
  height: 48px;
  cursor: pointer;
  background: url(../img/HUAWEI.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li a:nth-of-type(2) {
  background: url(../img/MI.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li a:nth-of-type(3) {
  background: url(../img/SAMSUNG.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li a:nth-of-type(4) {
  background: url(../img/OPPO.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li a:nth-of-type(5) {
  background: url(../img/vivo.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li a:nth-of-type(6) {
  background: url(../img/meitu.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li a:nth-of-type(7) {
  background: url(../img/smartisan.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li a:nth-of-type(8) {
  background: url(../img/heisha.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li a i {
  display: none;
}

.s_content .pin .pin_imgs li a:hover {
  width: 106px;
  height: 46px;
  background: #fef9ee;
  border: 2px solid #d5af82;
}

.s_content .pin .pin_imgs li a:hover i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs li .a_active {
  width: 106px;
  height: 46px;
  background: #fef9ee !important;
  border: 2px solid #d5af82;
  position: relative;
}

.s_content .pin .pin_imgs li .a_active:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  right: 0;
  bottom: 0;
  height: 12px;
  background: url(../img/cc.png) right bottom no-repeat;
}

.s_content .pin .pin_imgs li .a_active i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs .active {
  display: block;
}

.s_content .pin .pin_imgs li:nth-of-type(2) a {
  background: url(../img/smartisan.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li:nth-of-type(2) a i {
  display: none;
}

.s_content .pin .pin_imgs li:nth-of-type(2) a:hover {
  width: 106px;
  height: 46px;
  background: #fef9ee;
  border: 2px solid #d5af82;
}

.s_content .pin .pin_imgs li:nth-of-type(2) a:hover i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs li:nth-of-type(2) .a_active {
  width: 106px;
  height: 46px;
  background: #fef9ee !important;
  border: 2px solid #d5af82;
  position: relative;
}

.s_content .pin .pin_imgs li:nth-of-type(2) .a_active:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  right: 0;
  bottom: 0;
  height: 12px;
  background: url(../img/cc.png) right bottom no-repeat;
}

.s_content .pin .pin_imgs li:nth-of-type(2) .a_active i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs li:nth-of-type(3) a {
  background: url(../img/HUAWEI.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li:nth-of-type(3) a:nth-of-type(2) {
  background: url(../img/heisha.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li:nth-of-type(3) a i {
  display: none;
}

.s_content .pin .pin_imgs li:nth-of-type(3) a:hover {
  width: 106px;
  height: 46px;
  background: #fef9ee;
  border: 2px solid #d5af82;
}

.s_content .pin .pin_imgs li:nth-of-type(3) a:hover i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs li:nth-of-type(3) .a_active {
  width: 106px;
  height: 46px;
  background: #fef9ee !important;
  border: 2px solid #d5af82;
  position: relative;
}

.s_content .pin .pin_imgs li:nth-of-type(3) .a_active:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  right: 0;
  bottom: 0;
  height: 12px;
  background: url(../img/cc.png) right bottom no-repeat;
}

.s_content .pin .pin_imgs li:nth-of-type(3) .a_active i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs li:nth-of-type(4) a {
  background: url(../img/meitu.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li:nth-of-type(4) a i {
  display: none;
}

.s_content .pin .pin_imgs li:nth-of-type(4) a:hover {
  width: 106px;
  height: 46px;
  background: #fef9ee;
  border: 2px solid #d5af82;
}

.s_content .pin .pin_imgs li:nth-of-type(4) a:hover i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs li:nth-of-type(4) .a_active {
  width: 106px;
  height: 46px;
  background: #fef9ee !important;
  border: 2px solid #d5af82;
  position: relative;
}

.s_content .pin .pin_imgs li:nth-of-type(4) .a_active:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  right: 0;
  bottom: 0;
  height: 12px;
  background: url(../img/cc.png) right bottom no-repeat;
}

.s_content .pin .pin_imgs li:nth-of-type(4) .a_active i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs li:nth-of-type(5) a {
  background: url(../img/OPPO.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li:nth-of-type(5) a i {
  display: none;
}

.s_content .pin .pin_imgs li:nth-of-type(5) a:hover {
  width: 106px;
  height: 46px;
  background: #fef9ee;
  border: 2px solid #d5af82;
}

.s_content .pin .pin_imgs li:nth-of-type(5) a:hover i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs li:nth-of-type(5) .a_active {
  width: 106px;
  height: 46px;
  background: #fef9ee !important;
  border: 2px solid #d5af82;
  position: relative;
}

.s_content .pin .pin_imgs li:nth-of-type(5) .a_active:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  right: 0;
  bottom: 0;
  height: 12px;
  background: url(../img/cc.png) right bottom no-repeat;
}

.s_content .pin .pin_imgs li:nth-of-type(5) .a_active i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs li:nth-of-type(6) a {
  background: url(../img/SAMSUNG.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li:nth-of-type(6) a i {
  display: none;
}

.s_content .pin .pin_imgs li:nth-of-type(6) a:hover {
  width: 106px;
  height: 46px;
  background: #fef9ee;
  border: 2px solid #d5af82;
}

.s_content .pin .pin_imgs li:nth-of-type(6) a:hover i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs li:nth-of-type(6) .a_active {
  width: 106px;
  height: 46px;
  background: #fef9ee !important;
  border: 2px solid #d5af82;
  position: relative;
}

.s_content .pin .pin_imgs li:nth-of-type(6) .a_active:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  right: 0;
  bottom: 0;
  height: 12px;
  background: url(../img/cc.png) right bottom no-repeat;
}

.s_content .pin .pin_imgs li:nth-of-type(6) .a_active i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs li:nth-of-type(7) a {
  background: url(../img/vivo.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li:nth-of-type(7) a i {
  display: none;
}

.s_content .pin .pin_imgs li:nth-of-type(7) a:hover {
  width: 106px;
  height: 46px;
  background: #fef9ee;
  border: 2px solid #d5af82;
}

.s_content .pin .pin_imgs li:nth-of-type(7) a:hover i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs li:nth-of-type(7) .a_active {
  width: 106px;
  height: 46px;
  background: #fef9ee !important;
  border: 2px solid #d5af82;
  position: relative;
}

.s_content .pin .pin_imgs li:nth-of-type(7) .a_active:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  right: 0;
  bottom: 0;
  height: 12px;
  background: url(../img/cc.png) right bottom no-repeat;
}

.s_content .pin .pin_imgs li:nth-of-type(7) .a_active i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs li:nth-of-type(8) a {
  background: url(../img/MI.jpg) 6px center no-repeat;
  background-size: 88px 48px;
}

.s_content .pin .pin_imgs li:nth-of-type(8) a i {
  display: none;
}

.s_content .pin .pin_imgs li:nth-of-type(8) a:hover {
  width: 106px;
  height: 46px;
  background: #fef9ee;
  border: 2px solid #d5af82;
}

.s_content .pin .pin_imgs li:nth-of-type(8) a:hover i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pin_imgs li:nth-of-type(8) .a_active {
  width: 106px;
  height: 46px;
  background: #fef9ee !important;
  border: 2px solid #d5af82;
  position: relative;
}

.s_content .pin .pin_imgs li:nth-of-type(8) .a_active:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  right: 0;
  bottom: 0;
  height: 12px;
  background: url(../img/cc.png) right bottom no-repeat;
}

.s_content .pin .pin_imgs li:nth-of-type(8) .a_active i {
  display: block;
  text-align: center;
  line-height: 48px;
  color: #333333;
}

.s_content .pin .pinBtns {
  text-align: center;
  font-size: 0;
  margin-top: 10px;
}

.s_content .pin .pinBtns input {
  transition: all .2s linear;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
  width: 48px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #cccccc;
  color: #333;
  background: #fff;
}

.s_content .pin .pinBtns input:nth-of-type(2):hover {
  color: #333333;
  border: 1px solid #cccccc;
}

.s_content .pin .selected_box {
  width: 912px;
  display: none;
  margin-top: 20px;
  margin-left: 20px;
  line-height: 30px;
  background: #f4f1e9;
  padding-left: 10px;
}

.s_content .pin .selected_box label {
  float: left;
  margin-right: 10px;
}

.s_content .pin .selected_box label span {
  float: left;
}

.s_content .pin .selected_box label input[type=checkbox] {
  float: left;
  margin-top: 8px;
}
